@model IEnumerable<TaskControl.ViewModels.ProjectModel>

@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    @{ string cssClass;
        if (item.Status == "Sheduled")
        {
            cssClass = "red";
        }
        else if (item.Status == "In work")
        {
            cssClass = "yellow";
        }
        else
        {
            cssClass = "green";
        }
        <td class=@cssClass>
            @Html.DisplayFor(modelItem => item.Status, new { @class = cssClass })
        </td>
    }
    <td>
        @Html.DisplayFor(modelItem => item.Budget)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customer)
    </td>
    <!--<td>
        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
    </td>-->
</tr>
}

</table>
